.main {
  background-color: #d0bdf4;
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  color: #121111;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.line{
  background-color: #8458B3;
  border-top: 1px solid #000;
}

.whiteLine{
  background-color: #8458B3;
  border-top: 1px solid #fff;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #000;
  justify-content: center;
  align-items: center;
}

.image {
  width: 120%;
  height: 70%;
  margin-left: 10%;
}

.input {
  width: 200px;
  height: 100%;
  padding: 1%;
  margin: 2%;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  background-color: #d5d5d5;
}

.title {
  font-size: 2rem;
  margin: 2rem 0;
}

.description {
  line-height: 1;
  margin: 2%;
  margin-top: 1px;
  font-size: 1.2rem;
}

.button {
  border-radius: 4px;
  background-color: #8458B3;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  padding: 5px;
  width: 100px;
  cursor: pointer;
  margin: 2%;
}

.inputDiv {
  width: 200px;
  height: 100%;
  padding: 1%;
  margin: 2%;
  border: #d5d5d5;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.select {
  border-radius: 4px;
  font-size: 15px;
  padding: 5px;
  width: 175px;
  cursor: pointer;
  margin: 2%;
}

.button1 {
  border-radius: 4px;
  background-color: skyblue;
  border: none;
  color: #000;
  font-size: 15px;
  padding: 5px;
  width: 100px;
  cursor: pointer;
  margin: 2%;
}

.lauda {
  background-color: #8458B3;
  font-size: medium;
  color: black;
  font-size: 17px;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 6%;
}

.lassan {
  background-color: #8458B3;
  font-size: medium;
  color: black;
  font-size: 20px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 6%;
}

@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}